:root {
    /*spacing and padding*/
    --spacing-xl: 64px;
    --spacing-lg: 32px;
    --spacing-md: 16px;
    --spacing-sm: 8px;
    --spacing-xs: 4px;

    /*width*/
    --intro-width: 600px;
    --picture-width: 300px;
    --language-logos: 48px;

    /*Color*/
    --light-color-bg: rgb(52, 42, 255);
    --dark-color-font: #eee;
    --light-color-font: #111;
    --hover-bg: #ccc;

    /*Border-Radius*/
    --border-radius-md: 5px;

    /*font-Sizes*/


}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

body {
    min-height: 100vh;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: auto 1fr auto;
    color: var(--light-color-font);
}

header {
    background-color: var(--light-color-bg);
    color: var(--dark-color-font);
    grid-area: header;
}

header>h1 {
    padding: var(--spacing-md);
    text-align: center;
}

header>nav {
    display: flex;
    justify-content: center;
    gap: var(--spacing-md);
}

header>nav a {
    padding: var(--spacing-sm);
    color: var(--dark-color-font);
    text-decoration: none;
}

header>nav a:hover {
    background-color: var(--hover-bg);
    color: var(--light-color-font);
    border-radius: var(--border-radius-md) var(--border-radius-md) 0px 0px;
}

.featured {
    background-color: var(--dark-color-font);
    color: var(--light-color-font);
    border-radius: var(--border-radius-md) var(--border-radius-md) 0px 0px;
}

main {
    padding: var(--spacing-md);
    grid-area: main;
    display: grid;
    grid-template-areas: "hero hero" "picture intro" "picture intro" "language language";
    gap: var(--spacing-xl);
    justify-content: center;
    grid-template-rows: auto auto auto 1fr;
    background-color: var(--dark-color-font);
}

footer {
    background-color: var(--light-color-bg);
    grid-area: footer;
}

footer>p {
    text-align: center;
    color: var(--dark-color-font);
}

.hero {
    grid-area: hero
}

.intro {
    grid-area: intro;
    max-width: var(--intro-width);
}

.picture {
    grid-area: picture;
    max-width: var(--picture-width);
    border: solid 1px black;
    border-radius: var(--border-radius-md);
}

.picture:hover {
    transform: translateY(-7px);
    box-shadow: 0px var(--spacing-md) var(--spacing-lg) rgba(0, 0, 0, 0.15);
}

.languages {
    grid-area: language;
}

.languages>h2 {
    text-align: center;
}

.languages>div {
    display: flex;
    justify-content: center;
}

.pics>img {
    width: var(--language-logos);
    height: var(--language-logos);
}

@media(max-width: 646px) {
    main {
        display: grid;
        grid-template-areas: "hero" "picture" "intro" "language";
    }

    .portrait {
        display: flex;
        justify-content: center;
    }
}