* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #030416;
    color: white;
}


.title {
    padding: 20px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
}

.navigation {
    display: flex;
    justify-content: center;
}

.navigation>a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navigation a+a {
    border-left: solid #111 1px;
}

.navigation a:hover {
    transition: all 500ms;
    scale: 1.1;
    background-color: white;
    color: darkblue;
}

.featured {
    border-bottom: solid red 2px;
}

.about_me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.hero {
    border: solid #111 1px;
    padding: 20px;
    min-height: calc(100vh - 137px);
    /*text-shadow: 1px 1px rgb(187, 184, 255);*/
}

.hero>h2 {
    padding: 20px;
    text-align: center;
    text-decoration: underline;
}



.hero-text {
    max-width: 600px;
    font-size: 19px;
}

.hero-img {
    max-width: 300px;
    border: solid #111 1px;
}

.languages {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.languages img {
    display: flex;
    justify-content: center;
    width: 32px;
    gap: 20px;
}

.whited {
    background-color: white;
}

/* Portfolio*/

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.card {
    padding: 10px;
    width: 300px;
    border: solid #111 1px;
    font-size: 19px;
}

.card:hover {
    box-shadow: #333;
}

.card>img {
    width: 280px;

}


/*Kontaktformular*/
.formular {
    max-width: 100vw;
    display: flex;
    justify-content: center;

}

.formular>div {
    border: solid #111 1px;
    padding: 20px;
}

.formular>div label {
    display: block;
}

.input_field {
    height: 30px;
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.message {
    height: 300px;
}

.hint {
    padding: 20px;
    max-width: 600px;
    text-align: center;
    display: block;
    color: red;
    font-size: 19px;
    text-shadow: 0px 0px #000;
}

.own_email {
    width: 100%;
    text-align: center;
    padding: 20px;
}