:root {
    /*padding and spacing*/
    --spacing-xl: 64px;
    --spacing-lg: 32px;
    --spacing-md: 16px;
    --spacing-sm: 8px;
    --spacing-xs: 4px;

    --viewport-height: 100vh;

    /*Colors*/
    --primary-color: #030416;
    --secondary-color: #ffeeeeee;
    --shadow-color: #222;
    --grayscale-1-color: #111;

    /*border-Radius*/
    --border-radius-lg: 7px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: auto 1fr auto;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    min-height: var(--viewport-height);
}

header {
    grid-area: header;
}

.title {
    padding: var(--spacing-md);
    text-align: center;
}

.navigation {
    display: flex;
    justify-content: center;
}

.navigation>a {
    color: var(--secondary-color);
    text-decoration: none;
    padding: var(--spacing-sm);
}

.navigation a+a {
    border-left: solid #222 1px;
}

.navigation a:hover {
    transition: all 500ms;
    scale: 1.1;
    background-color: var(--secondary-color);
    color: darkblue;
    border-radius: var(--border-radius-lg);

}

main {
    grid-area: main;
    display: grid;
    grid-template-areas: "hero" "intro" "picture";
}

.featured {
    border-bottom: solid red 2px;
}

.hero {
    grid-area: hero;
    padding: 20px;
}

.hero>h2 {
    padding: 20px;
    text-align: center;
    text-decoration: underline;
}

.hero-text {
    grid-area: intro;
    max-width: 600px;
    font-size: 19px;
}

.hero-img {
    max-width: 300px;
    border: solid #111 1px;
}

.languages {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.languages img {
    display: flex;
    justify-content: center;
    width: 32px;
    height: 32px;
    gap: 20px;
}

.whited {
    background-color: white;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
}

/* Portfolio*/

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.card {
    width: 300px;
    border-radius: 10px;
    font-size: 19px;
    background-color: #010126;
    padding: 10px;
}

.card:hover {
    transition: all 750ms;
    box-shadow: 2px 2px #333, -2px -2px #222;
    background-color: #020231;
    scale: 1.005;
}

.card>img {
    width: 280px;
}

/*Kontaktformular*/
.formular {
    max-width: 100vw;
    display: flex;
    justify-content: center;

}

.formular>div {
    border: solid #111 1px;
    padding: 20px;
}

.formular>div label {
    display: block;
}

.input_field {
    height: 30px;
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

.message {
    height: 300px;
}

.hint {
    padding: 20px;
    max-width: 600px;
    text-align: center;
    display: block;
    color: red;
    font-size: 19px;
    text-shadow: 0px 0px #000;
}

.own_email {
    width: 100%;
    text-align: center;
    padding: 20px;
}